body {
    background-color: lightblue !important;
  }

.btn-primary {
    color: #fff;
    background-color: red !important;
    border-color: #007bff;
}







@import "node_modules/bootstrap/scss/bootstrap";